azure-ai-formrecognizer==1.0.0b4
azure-batch==9.0.0
azure-cli-core==2.9.1
azure-cli-nspkg==3.0.4
azure-cli-telemetry==1.0.4
azure-common==1.1.25
azure-core==1.7.0
azure-eventhub==5.2.0b1
azure-identity==1.4.0b6
azure-keyvault-secrets==4.1.0
azure-mgmt-appconfiguration==1.0.0b1
azure-mgmt-batch==9.0.0
azure-mgmt-compute==13.0.0
azure-mgmt-core==1.0.0
azure-mgmt-eventhub==8.0.0b1
azure-mgmt-keyvault==7.0.0b1
azure-mgmt-monitor==1.0.0b1
azure-mgmt-network==11.0.0
azure-mgmt-resource==10.0.0
azure-mgmt-storage==11.1.0
azure-nspkg==3.0.2
azure-search-documents==11.0.0
azure-servicebus==7.0.0b4
azure-storage-blob==2.1.0
azure-storage-blob-changefeed==12.0.0b1
azure-storage-common==2.1.0
azure-storage-file-datalake==12.1.0b1
azure-storage-file-share==12.2.0b1
msrestazure==0.6.4
